<!DOCTYPE html>
<html lang="en">
<head>
<script type="text/javascript">
    function httpGetAsync(theUrl, callback) {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function () {
            if(xmlHttp.readyState === 4 && xmlHttp.status === 200)
                callback(xmlHttp.responseText);
        }
        xmlHttp.open("GET", theUrl, true);
        xmlHttp.send(null);
    }
    httpGetAsync('http://127.0.0.1:5000/store', function (response) {
        alert(response);
    })
</script>
    <title>REST API</title>
</head>
<body>

<div id="myElement">
    Hello, World!
</div>
</body>
</html>